<!-- Include the header partial -->
<% include _header %>

<!-- content -->
<div class="sidebar">
  	<div class="username"><%= userDisplayName %></div>
  	<div class="blog_description"><%= userDescription %></div>
</div>
  	
<div class="main_content">
  	<div class="response_link"><h1><%= message %></h1></div>
</div>

<!-- Include the footer partial -->
<% include _footer %>
