<!-- Include the header partial and specify a title -->
<% title = response.get('description') %>
<% include ../_header %>

<!-- content -->
<div class='header'></div>
  
<% include _response %>

<!-- Include the footer partial -->
<% include ../_footer %>
